# ------------------
# React / Node
# ------------------
frontend/node_modules/
frontend/build/
frontend/.env

# ------------------
# Python / FastAPI
# ------------------
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# ------------------
# General
# ------------------
.env
.DS_Store
*.log
